@import '../../assets/styles/settings';

.container {
  flex: 1;
  padding: 5% 10%;

  .row {
    display: flex;
    background-color: #fff;
    height: 179px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    .profile_row {
      display: flex;
      width: 60%;
    }

    img {
      border-radius: 50%;
      height: 120px;
    }
    .img_row {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .user_info {
      width: 70%;
      align-self: center;
      font-size: 20px;
      border-left: 0.2px solid #d3d3d3;
      padding: 0 20px;

      p {
        margin: 10px 0;
        word-break: break-word;
      }
    }
    .ride_count {
      display: flex;
      width: 40%;
      align-self: center;
      font-size: 20px;
      text-align: center;
      height: 100%;

      .count_row {
        flex: 1;
        border-left: 0.2px solid #d3d3d3;
        border-right: 0.2px solid #d3d3d3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .count {
          font-size: 40px;
          font-weight: 600;
          margin-top: 15px;
        }
      }
    }
  }

  .margin_O {
    margin: 0;
  }

  .button_row {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 20px;
    margin-top: 20px;

    .button {
      width: 100%;
      height: 100px;
      background-color: white;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: #0c848e;
      }

      a:hover {
        color: $site-accent;
      }
    }
  }

  .history {
    background-color: white;
    min-height: 300px;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    h3 {
      text-align: center;
      padding: 20px 0;
      font-weight: 400;
    }

    .table_container {
      overflow-x: auto;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      text-align: center;
      padding: 16px;
      font-weight: 500;
    }
    tr:nth-child(even) {
      background-color: #b8dde0;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 5% 5%;
  }
}

@media (max-width: 830px) {
  .container{
    .row {
      height: auto;
      flex-direction: column;

      .profile_row {
        width: 100%;
      }
      .img_row {
        padding: 10px 0;
        width: 30%
      }

      .user_info {
        width: 70%;
      }

      .ride_count {
        border-top: 1px solid #d3d3d3;
        width: 100%;

        .count_row {
          border-left: none;
          border-right: none;
          padding: 15px 0;
        }

        .count_row_left {
          border-left: 1px solid #d3d3d3;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .container {
    .button_row {
      display: inline-grid;
      grid-template-columns: auto;
      width: 100%;
      grid-gap: 20px;
      margin-top: 20px;
    }
    .row {
      .user_info {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 585px) {
  .container {
    .row {
      .img_row {
        width: 100%;
      }
      .profile_row {
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      .user_info {
        border-left: none;
        border-top: 1px solid #d3d3d3;
        width: 85%;
        padding: 0px;
      }
    }
  }
}