.infoSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  justify-content: center;

  .row {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 470px) {
  .infoSection {
    .row {
      flex-direction: column;
    }
  }
}